---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% assign category_pages = site.pages | where: "layout", "category" %}

  {% if category_pages.size > 0 %}
    <h2 class="post-list-heading">Posts by Category</h2>
    <ul class="post-list">
      {% for category_page in category_pages %}
        <li>
          <h3>
            <a class="post-link" href="{{ category_page.url | relative_url }}">
              {{ category_page.title | escape }}
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
</div>
